/* card.css */

.card-container {
    border-radius: 1rem;
    color: #fff;
    text-align: center;
    box-shadow: 5px 10px 20px 1px rgba(255, 255, 255, 0.273);
    transition: all 0.7s linear;
    margin: 4rem auto;
    overflow: hidden;
    position: relative;
  }
  
  .image-container {
    overflow: hidden;
  }
  
  .card-img {
    width: 90%;
    transform: translateY(-50%);
    position: relative;
    top: 50%;
  }
  
  .card-body {
    padding: 1rem 4rem !important;
    margin-top: -5rem;
  }
  
  .card-title {
    padding: 0.1rem 0;
    font-size: 1.1rem;
  }
  
  .card-text {
    padding: 0rem 0;
    font-size: 1rem;
  }

  .card-text2 {
    position: relative;
    padding: 0rem 0;
    font-size: 1rem;
}

.card-text2::after {
  content: "";
  position: absolute;
  bottom: 50%; /* Ajusta la posición vertical de la línea para centrarla */
  left: 50%; /* Ajusta la posición horizontal de la línea para centrarla */
  width: 35%; /* Ajusta la longitud de la línea */
  height: 1.5px; /* Grosor de la línea */
  background-color: white; /* Color de la línea */
  transform: translate(-45%, 0) skewY(-15deg); /* Centra la línea horizontalmente y aplica la inclinación */
}
  .button-container {
    margin-top: 25px;
  }
  
  .button-card {
    padding: 0.5rem 1.5rem;
    cursor: pointer;
  }
  
  .button-card:hover {
    transform: scale(1.2);
    transition: all 0.2s ease-in-out;
  }
  
  .card-additional-title {
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    font-size: 1.2rem;
    width: 40%;
    margin: 0 auto;
    margin-top: 20px;
  }
  
  .additional-info {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    font-size: 1rem;
  }
  
  .circle-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    text-align: center; 
    
  }


  .circle {
    width: 110%;
    height: 100%;
    background: conic-gradient(from 0.25turn, #555 30%, #000);
    margin: auto; 
    border-radius: 15%;
  }

  .circle2 {
    width: 110%;
    height: 100%;
    background: conic-gradient(from 0.25turn, #0fa5e0 30%, #0000CD); 
    margin-right: 10px; 
  }
  .circle3 {
    width: 100%;
    height: 100%;
    background: conic-gradient(from 0.25turn, #726413e1 30%, #8aaf05); 
    margin-right: 10px; 
  }
  .circle4 {
    width: 110%;
    height: 100%;
    background: conic-gradient(from 0.25turn, #800080 30%, #4B0082); 
    margin-right: 10px; 
  }
  .circle5 {
    width: 110%;
    height: 100%;
    background: conic-gradient(from 0.25turn, #e5ffe7 30%, #b7b8ff); 
    margin-right: 10px; 
    color: #000000;
  }

  .circle4, .circle5 {
    margin-top: -10px;
    margin-left: 60%;  
    margin-bottom: 10px;
  }