:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body.my-app {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  background-color: #fff; /* O el color que desees para el fondo */
  overflow-x: hidden; /* Esto puede ayudar a eliminar posibles barras de desplazamiento horizontales */
}


html:not(.my-app), body:not(.my-app) {
  margin: 0;
  padding: 0;
}



h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

@media (max-width: 768px) {
  h1 {
    font-size: 2.5em;
  }

  button {
    font-size: 0.9em;
    padding: 0.5em 1em;
  }
}

button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.sidebar {
  color: #fff;
  padding: 10px;
}

@media (max-width: 768px) {
  .sidebar {
    padding: 10px;
    text-align: center;
  }
}


.logo{
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  padding:10px;
}

.logo-icon{
  width: 40px;
  height: 40px;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  border-radius: 50%;
  background: rgba(28, 17, 41,0.88)
}

.menu-bar {
  height: 90vh;
  margin-top: 5rem;
  margin-bottom: 0rem;
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-size: 1rem;
  position: relative;
}

@media (max-width: 768px) {
  .menu-bar {
    height: auto;
    margin-top: 3rem;
  }
}


